:root {
    --couleur-principale: #004aad; /* bleu tennis */
    --couleur-secondaire: #ffffff; /* fond clair */
    --texte-principal: #141313;
}

* {
    margin: 0;
    padding: 1;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--couleur-secondaire);
    color: var(--texte-principal);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--couleur-principale);
    padding: 15px 0;
}

header a {
    color: rgb(224, 222, 222);
    text-decoration: none;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}


main {
    padding: 20px;
}


h1 {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--couleur-principale);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

section{
    padding: 30px;
}